@use "../sass/var" as *;
@use "../sass/mixin" as *;

.main_container {
  background-color: $bgmain;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media screen and (min-width: 761px) {
    background-color: $pw;
    max-width: $max-desktop;
  }
}

.main_sect {
  padding: 0 $pd-mobile;
  padding-top: 50px;
  max-width: $max-mobile;

  @media screen and (min-width: 761px) {
    max-width: $max-desktop;
    padding-top: 19px !important;
  }
}

