@use '../sass/var' as *;
@use '../sass/mixin' as *;

.main_container{
  background-color: $bgmain ;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 761px) {
    background-color: $pw;
    
  }
}

.main_sect{
  padding: 0 $pd-mobile;
  padding-top: 50px;
  max-width: $max-mobile;
}

.main_sect_checkout{
  padding: 24px $pd-mobile;
  max-width: $max-mobile;
}

.main_title{
  @include title1;
}

.main_subtitle{
  margin-top: 24px;
  @include subtitle1
}