@use "../../sass/var" as *;
@use "../../sass/mixin";

.logoContainer{
  display: flex;
  justify-content: space-between;
  padding: 20px 5.5555556%;  

  max-width: $max-mobile;
  margin:0 auto;

  @media screen and (min-width: 760px) {
    padding: 33px 0 0 0;
    max-width: $max-desktop;
  }
}